dill>=0.3.9
hardware >= 0.32.0
mido>=1.3.3
pywin32>=308
pyttsx3 >= 2.98
QtAwesome >= 1.4.0
pyside6 >= 6.10
twisted # for pyside6
anytree >=2.12.1

# requires visual studio community edition and the c++ compiler installed to compile the required components when installing via pip
# open a command line, change to the path of the CL compiler x64 (c:\program files\microsoft visual studio\xx\Community\VC\Tools\MSVC\xx\bin\Hostx64\x64)
# run pip install python-rtmidi
python-rtmidi >= 1.5.8
hidapi >=  0.15.0 # requires hidapi.dll
hid >= 1.0.7 # requires hidapi
psygnal >= 0.13.0
lxml >= 6.0.0
msgpack >= 1.1.0
graphviz >= 0.21
sounddevice
soundfile
numpy
scipy
psutil
pyrubberband
edge-tts


